PORT=3001
DATABASE_URL="postgresql://nachopps:secret@localhost:5439/identidad_db?schema=public"
RABBITMQ_URI=amqp://nachopps:nachopps_secret@localhost:5672
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=24h
